name: basic CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8" # Utilisation d'une version plus générale

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        PIPENV_PYTHON=$(which python)
        pipenv install --dev

    - name: Test with nose
      run: |
        pipenv run nosetests
